#maps {
	width: 100%;
	height: 100%;
}
.map-container {
    width: 100%;
    height: 500px;
}
#malaria-map {
	width: 100%;
	height: 100%;
}

#overlayDiv{
	display:none;
}

#maps-small {
	display: none;
}

#maps-large {
	display: none;
}
<<<<<<< HEAD

#details{
    list-style:none;
}
=======
>>>>>>> 8b3860defc95d3444f05238b8b3e740fb3746273
