body{
    padding: 0;
    margin: 0;
    width: 100%;
}
#maps {
    padding: 0;
    margin: 0;
	width: 100%;
	height: 100%;
}
#maps .row {
    padding: 0;
    margin: 0;
	width: 100%;
	height: 100%;
}
#maps .row .map-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
}

#maps .row .map-container #malaria-map {
    padding: 0;
    margin: 0;
	width: 100%;
	height: 100%;
}

#overlayDiv{
	display:none;
}

#maps-small {
	display: none;
}

#maps-large {
	display: none;
}
